.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 55rem;
    margin: 0 auto;
    padding: 1rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0rem;
    border-bottom: 0.125rem solid grey;
}

.Tarun_Hawdia {
    margin-left: 1rem;
    position: relative;
}

.social-links {
    margin-right: 1rem;
    display: flex;
    gap: 1rem;
}


.social-links a {
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: bold;
}

.social-links a:hover {
    color: lightgray;
}

.Tarun_Hawdia {
    font-size: 1.875rem;
    color: red;
}

.inside-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 100%;
}

.sidebar {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    flex-wrap: nowrap;
    position: fixed;
    overflow-y: auto;
    height: 100vh;
    display: block;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 1.25rem;
}

.sidebar a {
    text-decoration: none;
    color: red;
    font-size: 1.125rem;
    font-weight: bold;
}

.sidebar a:hover {
    color: lightgray;
}

.section_main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 1rem;
    padding-left: 10.625rem;
    padding-right: 3rem;
}

.section {
    padding: 1rem;
}

.section_main img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.projects_container {
    display: flex;
    flex-direction: column;
}

.project_tile {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    padding-left: 0;
    padding-right: 0;
    margin-top: 1.25rem;
    width: 100%;
    overflow: hidden;
    flex-wrap: nowrap;
}

.project_info {
    padding-left: 1.875rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-overflow: ellipsis;
}

.project_tile img {
    height: 100px;
    width: 100px;
    flex-shrink: 0;
    max-width: none;
    max-height: none;
}

.project_title {
    margin: 0;
    margin-bottom: 0.3125rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: red;
}

.project_description {
    margin: 0;
    padding: 0;
    font-size: 1.125rem;
}

.sub_headings {
    display: flex;
    font-size: 1.875rem;
    color: red;
}

.menu-button {
    display: none;
}

.go-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: red;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    transition: opacity 0.3s ease-in-out;
}

@media (max-width: 768px) {
    .menu-button {
        position: absolute;
        top: 10px;
        left: 10px;
        background-color: #333;
        color: white;
        padding: 0.5rem;
        border: none;
        cursor: pointer;
        display: block;
    }

    .sidebar {
        display: none;
    }

    .sidebar.open {
        display: block;
        position: absolute;
        top: 50px;
        left: 10px;
        width: calc(100% - 20px);
        background-color: #f4f4f4;
        padding: 1rem;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        z-index: 100;
    }

    .sidebar ul {
        list-style: none;
        padding: 0;
    }

    .sidebar ul li {
        margin-bottom: 1rem;
    }

    .sidebar ul li a {
        color: #333;
        text-decoration: none;
        font-weight: bold;
    }

    .section_main {
        margin-left: 0;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .navbar {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }

    .Tarun_Hawdia {
        margin-left: 0;
        margin-bottom: 1rem;
        position: relative;
        left: 0;
        transform: none;
        text-align: center;
    }

    .social-links {
        margin-right: 0;
        justify-content: center;
        width: 100%;
    }

    .go-to-top {
        padding: 0.3rem;
    }
}