.main-container {
    display: flex;
    flex-direction: column;
    width: 1000px;
}

.navbar {
    display: flex;
    justify-content: center;
}

.inside-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
}

.sidebar {
    display: flex;
    flex-direction: column;
    padding: 16px;
    flex-wrap: nowrap;
    position: fixed;
    width:1000px;
    overflow-y: auto;
    height: 100vh;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 20px;
}

.sidebar a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.sidebar a:hover {
    color: lightgray;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.section_main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 16px;
    padding-left: 170px;
    padding-right: 48px;
}

.section {
    padding: 1rem;
}