.body,
html {
    font-family: Fira Sans Extra Condensed, sans-serif;
    height: 100%;
    display: flex;
    justify-content: center;
    scroll-behavior: smooth;
}

body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
p,
a,
span,
div {
    color: white;
    /* Ensure all text elements are white */
}

a {
    color: lightblue;
    /* Optional: Adjust link color for better visibility */
}